body {
    font-family: "Trebuchet MS" , Helvetica, sans-serif;
}

.snap-to-bottom {
    align-self: flex-end;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 40px;
    background-color: #f5f5f5;
}